{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>AVS Sizing Calculator</p>

  {% macro input(name, value='', type='text', size=20) -%}
  <input type="{{ type }}" name="{{ name }}" value="{{
      value|e }}" size="{{ size }}">
  {%- endmacro %}


<p>{{ input('password', type='password') }}</p>

  <br><br>
  Number of Virtual Machines:
  <p>{{ input('username') }}</p>
  <br><br>
  vCPU per Virtual Machine:
  <input id='vcpu' value='1' type="number">
  <br><br>
  Stroage per Virtual Machine:
  <input id='storage' value='1' type="number">
  <br><br>
  Memory per Virtual Machine:
  <input id='mem' value='1' type="number">
  <br><br>
  <button onclick='pyodide.globals.generate_plot_img()'>Generate Recommendation</button>
  <br>
  <img id="fig" />


{% endblock %}