{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>AVS Sizing Calculator</p>

  {% macro input(name, value='', type='text', size=20) -%}
  <input type="{{ type }}" name="{{ name }}" value="{{
      value|e }}" size="{{ size }}">
  {%- endmacro %}


  <br><br>
  <p>>Number of Virtual Machines: {{ input('vm') }}</p>
  <br><br>
  vCPU per Virtual Machine {{ input('vCPU') }}:
  <br><br>
  Storage per Virtual Machine: {{ input('Storage') }}
  <br><br>
  Memory per Virtual Machine: {{ input('Memory') }}
  <br><br>
  <button onclick='pyodide.globals.generate_plot_img()'>Generate Recommendation</button>
  <br>
  <img id="fig" />


{% endblock %}